%p here is canvas
-#%canvas#canvas{width: 900, height: 500, style: 'background-color:#aaa; display: "none";'}
%canvas#arcade
%canvas#debug
-#%script{:src => 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'}

-#%script{src: 'assets/space/application.js'}
%script{src: 'assets/space/game.js'}