%p here is canvas
%canvas{width: 1800, height: 600, id: :world, style: 'background-color:#aaa;'}
-#%script{:src => 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'}

%div{ 'ng-controller' => 'game'}

%script{src: 'assets/space/application.js'}

